{% extends "authenticated.html" %}
{% block content %}
<section>
  <marquee><h1>You are {{ user.name }}!</h1></marquee>
  <p>{{ t(key="hello-world", lang="en-US") }}</p>
  <p>{{ t(key="hello-world", lang="de-DE") }}</p>
  <p>{{ t(key="fallback", lang="de-DE") }}</p>

  <script nonce={{nonce}}>document.write("Nonce-based scripts run ✅")</script>
  <script>document.write("Unsafe-inline scripts run 🐞")</script>

  <p style="margin-top: 1rem">Last message received via SSE: <span id="messageContainer">No data received</span></p>
  <script nonce={{nonce}}>
    const eventSource = new EventSource("/events");

    eventSource.onmessage = (event) => {
      document.getElementById("messageContainer").innerText = event.data;
    };
  </script>

  <footer>
    <button>Save</button>
    <button disabled>Delete</button>
  </footer>
</section>
{% endblock %}
