<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Check your mail - Mér</title>
    </head>
    <body class="container" style="padding-top: 6rem; max-width: 720px; margin: 0 auto; text-align: center">
      <h1>Gotcha!</h1>
      <p style="margin-top: 2rem;">An e-mail should arrive in your inbox soon.</p>
      <p style="margin-bottom: 2rem">(You can close this tab.)</p>
      <a class="button" href="/" onclick="event.preventDefault(); window.close()">Can't wait</a>
    </body>
</html>
