{% extends "base.html" %}
{% block title %} Forgotten password {% endblock %}

{% block content%}
<section style="max-width: 720px; margin: 0 auto">
    <form method="POST">
        <label required for="email">Email address</label>
        <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            required
        />
        <footer>
            <button type="submit" formaction="/api/auth/forgot">Reset my password</button>
            <button type="submit" formaction="/api/auth/magic-link">One-time login link</button>
        </footer>
    </form>
</section>
{% endblock %}
