{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content%}
<section style="max-width: 720px; margin: 0 auto">
    <form action="/api/auth/register" method="POST">
        <label required for="name">Name</label>
        <input type="name" name="name" id="name" autocomplete="name" required />
        <label required for="email">Email address</label>
        <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            required
        />
        <label required for="password">Password</label>
        <input
            type="password"
            name="password"
            id="password"
            autocomplete="current-password"
            required
        />
        <label required for="terms"> <input type="checkbox" name="terms" id="terms" required />
            I accept the <a href="#" target="_blank">terms & conditions</a>
        </label>
        <footer>
            <button type="submit">Sign up</button>
        </footer>
    </form>
</section>
{% endblock %}
